/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.grid{
  padding: 10px !important;
}

.my-column{
  min-height: calc(100vh - 80px);
  height: auto;
}

.left-side {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.right-side {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.side{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.smaller-dropdown {
  font-size: 12px !important; /* Adjust font size as needed */
  line-height: 1.19em !important; /* Adjust line height as needed */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: bold;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.all-dictionaries-link:hover{
  text-decoration: none !important;
}

@media (max-width: 625px) {
 .header{
  height: auto !important;
  padding: 10px !important;
  gap: 10px;
  flex-direction: column !important;
 }
}


